body {
  margin: 0;
  padding: 0;
}
div{
  overflow: visible;
  position: relative;
}

.esquerra{
  float: left;

}
.dreta{
  float: right;
}

.cap{
  width: 500px;
  height: 800px;
  background-color: rgb(246, 214, 172);
  margin: 0 auto;
  border-radius: 100px 100px 200px 200px;
}
.pel{
  height: 200px;
  background-color: rgb(219, 173, 33);
  border-radius: 100px 100px 0 0;
}

.ulls{
  height: 100px;
  clear: both;
}
.ceies{
  height: 20px;
  clear: both;
}
.cella{
  height: 20px;
  width: 200px;
  background-color: rgb(255, 211, 79);
  margin: 15px;
  border-radius: 30px;
}

.parpelles{
  height: 60px;
  clear: both;
}
.parpella{
  width: 80px;
  height: 80px;
  background-color: white;
  margin: 0 75px;
  border-radius: 80px;
}
.pestanyes{
  height: 80px;

  clear: both;
}
.pestanya{
  height: 40px;
  width: 80px;
  margin: 0 75px;
  top: -80px;
  border-top: solid grey 20px;
  border-bottom: solid grey 20px;
  border-radius: 45px;
}

.irises{
  /* background-color: lightpink; */
  height: 10px;
}

.iris{
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: black;
  margin: 0 110px;
  top: -121px;
  z-index: 5000;
}

.pupiles{
  height: 70px;
  /*background-color: pink;*/
}

.pupila{
  height: 35px;
  width: 35px;
  background-color: rgb(123, 177, 200);
  border-radius: 35px;
  margin: 0 98px;
  top: -145px;
  z-index: 500;

}

.orelles{
  height: 100px;
  background-color: orange;
}

.orella{
  height: 100px;
  width: 40px;
  background-color: rgb(231, 152, 18);
  margin: 0 1px;
}

.nas{
  height: 100px;
  background-color: rgb(245, 203, 141);
  width: 55px;
  border-radius: 5px;
}

.forat{
  background-color: black;
  height: 5px;
  width: 5px;
  border-radius: 5px;

}

.boca{

}
