body {
  margin: 0;
  padding: 0;
}

div{
  overflow: visible;
  position: relative;
}

.esquerra{
  float: left;

}

.dreta{
  float: right;
}

.cap{
  width: 500px;
  height: 800px;
  background-color: rgb(246, 214, 172);
  margin: 0 auto;
  border-radius: 100px 100px 200px 200px;
}

.pel{
  height: 200px;
  background-color: rgb(219, 173, 33);
  border-radius: 100px 100px 0 0;
}

.ulls{
  height: 100px;
  clear: both;
}

.ceies{
  height: 20px;
  clear: both;
}

.cella{
  height: 20px;
  width: 200px;
  background-color: rgb(255, 211, 79);
  margin: 15px;
  border-radius: 30px;
}

.parpelles{
  height: 60px;
  clear: both;
}

.parpella{
  width: 80px;
  height: 80px;
  background-color: white;
  margin: 0 75px;
  border-radius: 80px;
}

.pestanyes{
  height: 80px;
  clear: both;
}

.pestanya{
  height: 40px;
  width: 80px;
  margin: 0 75px;
  top: -80px;
  border-top: solid rgb(244, 203, 151) 20px;
  border-bottom: solid rgb(244, 203, 151) 20px;
  border-radius: 45px;
}

.irises{
  /* background-color: lightpink; */
  height: 10px;
}

.iris{
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: black;
  margin: 0 110px;
  top: -121px;
  z-index: 5000;
}

.pupiles{
  height: 70px;
  /*background-color: pink;*/
}

.pupila{
  height: 35px;
  width: 35px;
  background-color: rgb(123, 177, 200);
  border-radius: 35px;
  margin: 0 98px;
  top: -145px;
  z-index: 500;

}

.orelles{
  height: 100px;
  /*
  background-color: red;*/
  z-index: -1;
}

.orella{
  height: 100px;
  width: 41px;
  background-color: rgb(250, 206, 149);
  position: relative;
  top: -155px;
  border-radius: 30px 20px 20px 30px;
}
.izq{
  right: 20px;
}

.der{
  left: 20px;
}

.nas{
  height: 100px;
  width: 100px;
  background-color: rgb(250, 15, 15);
  margin-left: 200px;
  border-radius: 100px;
  box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.37);
  animation-name: nariz;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

.boca{
  height: 130px;
  width: 160px;
  background-color: rgb(246, 214, 172);
  border-radius: 160px;
  box-shadow:  0 15px 0 rgb(176, 28, 28);
  margin-left: 170px;
  margin-top: 30px;
}

@keyframes nariz{
  0%{
    background-color: rgb(250, 15, 15);
  }
  100%{
    background-color: rgb(255, 214, 0);
  }
}
