
@media screen and (min-width: 481px){
  body{

    margin: 100px 0 0 0;
  }

  #arriba{
    width: 100%;
    height: 100px;
    background-color: #568087;
    position: fixed;
    z-index: 5;
    top: 0;
  }

  #arriba p{
    margin: 0;
  }
  #titulo{
    font-size: 34px;
    font-family: Hasthon;
    text-align: center;
    color: white;
  }
  #slogan{
    font-size: 22px;
    color: white;
    text-align: center;
    font-family: Melinda;


  }
  .bar{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0 0 10px;
    cursor: pointer;

  }

  .burguer{
    position: absolute;
    left: 19px;
    top: 65px;
    opacity: 0;

  }

  .burguer:checked ~ #lista{
    position: fixed;
    width: 100px;
    background-color: #7C9E93;
    left: 0;
    transition: 0.5s;
    color: white;
    list-style-type: none;
    font-family: AgencyFB;
  }

  #lista{
    /*background-color: #7C9E93;*/
    color: white;
    position: relative;
    top:-75px;
    list-style-type: none;
    font-family: AgencyFB;
    padding-top: 15px;
    font-size: 1.8em;

  }

  #lista li{
    display: inline;
    padding-left: 50px;
  }

  #foto_inicio{
    width: 100%;
    margin-bottom: 0;

  }


  #div_medio{
    width: 100%;
    background-color: white;
    top:650px;
    font-family: SukhumvitSet-Thin;


  }

  #div_medio p{
    margin: 0 190px;
    text-align: center;
    kerning: 0.8em;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  #div_medio h2{
    font-family: LemonMilk;
    margin: 0 20px;
    color: #7C9E93;
  }
  #div_medio ul{
    list-style-type: none;
    margin: 0 60px;
    padding-bottom: 20px;
    padding-top: 5px;
  }

  a:link{
    text-decoration: none;


  }

  #div_medio a:link{
    text-decoration: underline;

  }

  #div_boqueria{
    width: 100%;
    background-color: #92B894;
    position: relative;
    top: 00px;
  }

  #div_boqueria p{
    color: white;
    font-family: sukhumvitset-thin;
    margin: 0 160px;
    text-align: center;
    padding: 10px;
  }

  #div_boqueria h2{
    font-family: lemonmilk;
    color: white;
    margin: 0 20px;
  }

  #foto_boqueria{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: white;
    border-style: solid;
  }
  #foto_boqueria_2{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: white;
    border-style: solid;

  }

  #div_santantoni{
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    top: 00px;
  }

  #div_santantoni p{
    color: black;
    font-family: sukhumvitset-thin;
    margin: 0 200px;
    text-align: center;
    padding: 10px;
  }

  #div_santantoni h2{
    font-family: lemonmilk;
    color: #7C9E93;
    margin: 0 20px;
  }

  #foto_santantoni{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: #92B894;
    border-style: solid;
  }
  #foto_santantoni_2{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: #92B894;
    border-style: solid;
  }

  #div_galvany{
    width: 100%;
    background-color: #7C9E93;
    position: relative;
    top: 00px;
  }

  #div_galvany p{
    color: white;
    font-family: sukhumvitset-thin;
    margin: 0 160px;
    text-align: center;
    padding: 10px;
  }

  #div_galvany h2{
    font-family: lemonmilk;
    color: white;
    margin: 0 20px;
  }

  #foto_galvany{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: white;
    border-style: solid;
  }
  #foto_galvany_2{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: white;
    border-style: solid;
  }


  #div_llibertat{
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    top: 00px;
  }

  #div_llibertat p{
    color: black;
    font-family: sukhumvitset-thin;
    margin: 0 170px;
    text-align: center;
    padding: 10px;
  }

  #div_llibertat h2{
    font-family: lemonmilk;
    color: #92B894;
    margin: 0 20px;
  }

  #foto_llibertat{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: #7C9E93;
    border-style: solid;
  }
  #foto_llibertat_2{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: #7C9E93;
    border-style: solid;
  }

  #div_ninot{
    width: 100%;
    background-color: #92B894;
    position: relative;
    top: 00px;
  }

  #div_ninot p{
    color: white;
    font-family: sukhumvitset-thin;
    margin: 0 160px;
    text-align: center;
    padding: 10px;
  }

  #div_ninot h2{
    font-family: lemonmilk;
    color: white;
    margin: 0 20px;
  }

  #foto_ninot{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: white;
    border-style: solid;
  }

  #foto_ninot_2{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: white;
    border-style: solid;
  }

  #div_hostafrancs{
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    top: 00px;
  }

  #div_hostafrancs p{
    color: black;
    font-family: sukhumvitset-thin;
    margin: 0 210px;
    text-align: center;
    padding: 10px;
  }

  #div_hostafrancs h2{
    font-family: lemonmilk;
    color: #7C9E93;
    margin: 0 20px;
  }

  #foto_hostafrancs{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: #92B894;
    border-style: solid;
  }

  #foto_hostafrancs_2{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: #92B894;
    border-style: solid;
    }

  #div_encants{
    width: 100%;
    background-color: #7C9E93;
    position: relative;
    top: 00px;
  }

  #div_encants p{
    color: white;
    font-family: sukhumvitset-thin;
    margin: 0 220px;
    text-align: center;
    padding: 10px;
  }

  #div_encants h2{
    font-family: lemonmilk;
    color: white;
    margin: 0 20px;
  }

  #foto_encants{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: white;
    border-style: solid;
  }

  #foto_encants_2{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: white;
    border-style: solid;
  }

  #foto_encants_3{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: white;
    border-style: solid;
  }

  #foto_encants_4{
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-width: 10px;
    border-color: white;
    border-style: solid;
  }

  #div_mapa{
    background-color: white;
    width: 100%;
    position: relative;
  }

  #div_mapa h2{
    color: #7C9E93;
    font-family: lemonmilk;
    margin: 0 20px;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  #div_mapa p{
    color: black;
    font-family: sukhumvitset-thin;
    margin: 0 160px;
    text-align: center;
    padding: 15px;
  }

  #foto_mapa{
    width: 50%;
    position: relative;
    margin-left: 27%;
  }



  #div_about{
    background-color: white;
    width: 100%;
  }

  #div_about h2{
    color: #7C9E93;
    font-family: lemonmilk;
    margin: 0 20px;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  #div_about p{
    color: black;
    font-family: sukhumvitset-thin;
    margin: 0 160px;
    text-align: center;
  }

  #div_contact{
    background-color: white;
    width: 100%;
  }

  #div_contact h2{
    color: #7C9E93;
    font-family: lemonmilk;
    margin: 0 20px;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  #div_contact p{
    color: black;
    font-family: sukhumvitset-thin;
    margin: 0 160px;
    text-align: justify;
  }

  #codiQR{
    height: 200px;
    width: 200px;
    position: relative;
    left: 7%;
    padding: 15px;
  }

  #logoabout{
    padding-left: 200px;
    padding-bottom: 15px;
    display: none;
  }

  #logodesk{
    padding: 20px;
    position: relative;
    left: 42%;
  }


  .enlaces{
    position: absolute;
    top: -100px;
  }









}


@media screen and (min-width: 800px) {
  #foto_inicio {
    display: none;
  }

  #foto_inicio::after {
    background: red;
    content:"";
    display: block;
    width: 100%;
    height: 300px;
    background: url(img/DSC00659A.jpg);
    position: absolute;
    left:0;
    top: 200px;
  }

}
