@font-face {
font-family: Hasthon;
src: url(font/Hasthon.ttf);
}
@font-face {
font-family: Melinda;
src: url(font/melinda.otf);
}
@font-face {
font-family: AgencyFB;
src: url(font/agencyfb.ttf);
}
@font-face {
font-family: LemonMilk;
src: url(font/lemon_milk/lemonmilk.otf);
}
@font-face {
font-family: SukhumvitSet-Thin;
src: url(font/SukhumvitSet-Thin.ttf);
}
@font-face {
font-family: SukhumvitSet-Bold;
src: url(font/SukhumvitSet-Bold.ttf);
}
@media screen and (max-width: 480px){
  body{
    background-color: red;
    margin: 100px 0 0 0;
  }

  #arriba{
    width: 100%;
    height: 100px;
    background-color: #568087;
    position: fixed;
    z-index: 5;
    top: 0;
  }

  #arriba p{
    margin: 0;
  }
  #titulo{
    font-size: 32px;
    font-family: Hasthon;
    text-align: center;
    color: white;
  }
  #slogan{
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: Melinda;

  }
  .bar{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0 0 10px;
    cursor: pointer;
  }

  .burguer{
    position: absolute;
    left: 19px;
    top: 65px;
    opacity: 0;

  }

  .burguer:checked ~ #lista{
    position: fixed;
    width: 100px;
    background-color: #7C9E93;
    left: 0;
    transition: 0.5s;
    color: white;
    list-style-type: none;
    font-family: AgencyFB;
  }

  #lista{
    background-color: #7C9E93;
    width: 100px;
    position: absolute;
    left: -150px;
    transition: 0.5s;
    color: white;
    list-style-type: none;
    font-family: AgencyFB;

  }

  #foto_inicio{
    width: 100%;

  }

  #div_medio{
    width: 100%;
    background-color: white;
    top:650px;
    font-family: SukhumvitSet-Thin;

  }

  #div_medio p{
    margin: 0 20px;
    text-align: justify;
    kerning: 0.8em;
  }
  #div_medio h2{
    font-family: LemonMilk;
    margin: 0 20px;
    color: #7C9E93;
  }
  #div_medio ul{
    list-style-type: none;
    margin:0;

  }

  #div_boqueria{
    width: 100%;
    background-color: #92B894;
    position: relative;
    top: 00px;
  }

  #div_boqueria p{
    color: white;
    font-family: sukhumvitset-thin;
    margin: 0 20px;
    text-align: justify;
  }

  #div_boqueria h2{
    font-family: lemonmilk;
    color: white;
    margin: 0 20px;
  }

  #foto_boqueria{
    width: 100%;
  }

  .enlaces{
    position: absolute;
    top: -100px;
  }

}
